<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Review</h4>
</div>
<div class="modal-body">

    <form [formGroup]="this.reviewForm">
        <label for="rating">Rating <ngb-rating formControlName="rating"></ngb-rating></label>
        <label for="review">Review<textarea id="review" formControlName="comments" name="review"
                rows="4"></textarea></label>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="this.cancel()" class="btn btn-secondary">Cancel</button>
    <button type="button" (click)="this.addReview()" class="btn btn-primary">Add Review</button>
</div>