<header class="header">
    <div class="username">{{this.username}}</div>
    <div class="name">Popcorn Review</div>
    <div class="action">
        <button class="btn btn-primary" (click)="this.logout()" routerLink="/login">Logout</button>
    </div>
</header>
<router-outlet></router-outlet>