.header{
    background: #000;
    display: flex;    
    position: fixed;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    .username{
        display: inline-block;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 15px;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .name{
        display: inline-block;
        padding: 10px 20px;
        font-size: 30px;
        height: 70px;
        overflow: hidden;
        white-space: nowrap;
        font-family: "pacifico";
        text-overflow: ellipsis;
        .logo{
            width:42px;
            display: inline;
        }
    }
    .action{
        display: inline-block;
        padding: 10px 20px;
        padding-top: 20px;
        padding-right: 21px;
        button{
            margin: 0;
            font-size: 15px;
            padding: 3px 12px;
        }
    }
    
}