<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Movie</h4>
</div>
<div class="modal-body">
    <form [formGroup]="this.addMovieForm">
        <label for="name">Movie Name
            <input type="text" formControlName="name" name="name" id="name"></label>
        <label for="director">Director Name
            <input type="text" formControlName="directorName" name="director" id="director"></label>
        <label for="cast">Cast
            <ng-multiselect-dropdown [settings]="dropdownSettings" formControlName="cast" [data]="this.castDropdown"
                (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
            </ng-multiselect-dropdown>
        </label>
        <label *ngIf="this.others" for="otherCast">Others
            <input type="text" formControlName="others" name="otherCast"></label>
        <label for="pwd">Genre
            <ng-multiselect-dropdown [settings]="dropdownSettings" formControlName="genre" [data]="this.genreDropdown">
            </ng-multiselect-dropdown>
        </label>
        <label for="pwd">Poster
            <button class="btn btn-primary" (click)="this.onImgUpload()">Upload</button>
        </label>
        <div class="preview">
            <img [src]="this.imagePath"> <br />
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" (click)="this.cancel()" class="btn btn-secondary">Cancel</button>
    <button type="button" (click)="this.addMovie()" class="btn btn-primary">Add</button>
</div>