.container{
    background: #202123;
    max-width: 100%;
    min-height: 100vh;
    padding: 89px 10% 0;

    .card-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .movie{
            .img-box{
                width:150px
            }

            .info{
                margin: 20px;
                flex:1;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .action-box{
                    display: flex;
                    flex-direction: row-reverse;
                }
                .list::after{
                    content: " | "
                }
                .list:last-of-type::after{
                    content: ""
                }


            }
        }

        .review-section{
            .heading{
                
                margin-left: 15px;
            }
            .review{
                flex-direction: column;
                padding: 20px;
                .user-info{
                    margin: 10px 0;
                    padding: 10px 0;
                    border-bottom: 1px solid #202123;
                    display: flex;
                    .rating{
                        flex: 1;
                    }
                    .date{
                        font-size: 15px;
                        color: rgba(225,225,225,0.7);
                    }
                }

            }
        }
    }
}
    
.banner {
    width: 100%;
    margin: 15px auto;
    min-height: 200px;
    background: #3E4144;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 40%);
    position: relative;
    display: flex;
}

