<div class="container">
    <div class="card-container">
        <div class="banner movie">
            <div class="img-box">
                <img [src]="movie.posterImg" alt="">
            </div>
            <div class="info">
                <div>{{movie.name}}</div>
                <label> Creator: <span>{{movie.directorName}}</span> </label>
                <label>
                    Cast:
                    <span class="list" *ngFor="let cast of movie.cast">{{cast}} </span>
                </label>
                <label>
                    Genre:
                    <span class="list" *ngFor="let genre of movie.genre">{{genre}}</span>
                </label>
                <div style="display: flex;">
                    <span style="flex: 1">
                        <i class="fa fa-star" style="color: #F5C518;" aria-hidden="true"></i> {{movie.avgReview}}
                    </span>
                    <div class="action-box">
                        <button class="btn btn-primary" (click)="this.addReview()">Review</button>
                        <button class="btn  icon delete" (click)="this.delete(deleteAlert)"><i
                                class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <section class="review-section">
            <h1 class="heading">User Reviews</h1>
            <div *ngFor="let review of movie.reviews" class="banner review">
                <div class="user-info">
                    <span class="rating">
                        <ngb-rating [readonly]=true [rate]="review.rating"></ngb-rating>
                        {{review.rating}} <span>
                            by {{review.name}}</span>
                    </span>
                    <span class="date">{{review.createdAt | date:'medium' }}</span>
                </div>

                <div class="text">{{review.comments}}</div>
            </div>


        </section>

    </div>
</div>

<ng-template #deleteAlert let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Alert</h4>
    </div>
    <div class="modal-body">
        Are you Sure you want to delete this movie ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close(false)">No</button>
        <button type="button" class="btn btn-primary" (click)="modal.close(true)">Yes</button>
    </div>
</ng-template>