<div class="overlay"></div>
<div class="container">
    <div class="heading">
        <div class="name"> Popcorn Review</div>
    </div>
    <div class="signin-container">
        <h3>Sign Up</h3>
        <form [formGroup]="this.signupForm">
            <label for="name">Name<input type="text" formControlName="name" name="name" id="name"></label>
            <label for="email">Email<input type="email" formControlName="email" name="email" id="email"></label>
            <label for="newpwd">Password<input type="password" formControlName="password" name="pwd"
                    id="newpwd"></label>
            <button class="btn btn-primary" (click)="this.signup()">Sign up</button>
        </form>

    </div>
    <div class="login-container">
        <h3>Login</h3>
        <form [formGroup]="this.loginForm">
            <label for="uname">Email<input type="email" formControlName="email" name="email" id="uname"></label>
            <label for="pwd">Password<input type="password" formControlName="password" name="pwd" id="pwd"></label>
            <button class="btn btn-primary" type="button" (click)="this.login()">Login</button>
        </form>
    </div>
</div>