
:host{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("/assets/img/login-bg.jpg");
    overflow: overlay;
}
.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5); /*can be anything, of course*/
}
.container{
    background-color: rgba(0,0,0,0.5);
    min-height: 60vh;
    width: 50%;
    min-width: 500px;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    z-index: 2;
    border-radius: 2rem;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5), -10px -10px 60px rgba(0, 0, 0, 0.5);
}

.login-container{
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
}

.signin-container{
    flex: 1;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}




.container .heading{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo{
        width:80px;
        display: inline;
    }
    .name{
        text-align: center;
        line-height: 80px;
        font-size: 3rem;
        font-family: "pacifico";
    }
}

.login-container form label, .signin-container form label{
    margin: 10px 0;
    display: block;
    text-align: left;
    display: grid;
}

.login-container form label input ,.signin-container form label input {
    margin-top: 5px;
    font-family: sans-serif;
}

.login-container, .signin-container{
    h3{
        font-family: "pacifico";
    }
}