<div class="container">
    <div class="card-container">
        <div (click)="this.addNewMovie()" class="movie-card">
            <div class="fab-box">
                <div class="fab">+</div>
            </div>
        </div>
        <div *ngFor="let movie of this.movieList;let i = index" class="movie-card"
            (click)="this.onClickMovie(movie.id)">
            <div class="img-overlay">
                <img [src]="movie.posterImg" alt="">
            </div>
            <div class="info">
                <div class="name" [title]="movie.name">{{movie.name}}</div>
                <div class="slide">
                    <div [title]="movie.directorName">{{movie.directorName}}</div>
                    <div [title]="movie.avgReview"><i class="fa fa-star" style="color: #F5C518;" aria-hidden="true"></i>
                        {{movie.avgReview?movie.avgReview:'N/A'}}</div>
                </div>
            </div>
        </div>
    </div>

</div>