.container{
    padding: 20px;
    background: #202123;
    margin: 0;
    max-width: 100%;
    height: 100vh;
    padding-top: 89px;
    overflow: auto;

    .card-container{
        display: flex;
        flex-wrap: wrap;
        .movie-card:hover {
            transform: scale(1.2);
            z-index: 2; 
            .info{
                .slide{
                    height: 65px;
                }
            }
            .img-overlay{
                filter: blur(2px);
            }
        }
        .movie-card{
            cursor: pointer;
            width: 150px;
            min-height: 200px;
            background: #3E4144;
            border-radius: 3px;
            box-shadow: 5px 5px 10px rgb(0 0 0 / 40%);
            margin: 15px;
            position: relative;
            display: flex;
            overflow: hidden;
            transition: transform ease-in-out .4s;
            .img-overlay{
                img{
                    width: 100%;
                }
            }            

            .info{
                padding: 10px;
                position: absolute;
                bottom: 0;
                width: 100%;
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
                div{
                    margin: 5px 0;
                }
                .name{
                    transition:  ease-in-out .4s;
                    font-size: 18px;
                }
                .slide{
                    overflow: hidden;
                    height: 0;
                    transition: ease-in-out .4s;
                }
            }
            .fab-box{
                margin: auto;
            }

            
        }
    }
}
