/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #f2eecb
}

body{
    background: #202123;
}

h1{
    margin-bottom: 15px;
}

img{
    display: block;
    width: 100%;
}

form{
    margin: 20px;
}

input{
    height: 30px;
    padding-left: 5px;
    color:#000
}
textarea{
    padding-left: 5px;
    color:#000
}
button{
    margin: 10px;
    padding: 10px 20px; 
    border: none; 
    margin-top: 15px;
    cursor: pointer;
    font-size: 15px !important;
    padding: 3px 12px !important;
}

button.icon{
    background: none;
    padding: 0 10px;
    font-size: 1.4rem;
    
}
button.delete{
    i{
        color:#D11A2A ;
    }
}
button.primary{
    background-color: #55A0FC;
}

.fab{
    width: 60px;
    background-color: rgba(0,0,0,0.5);
    height: 60px;
    border-radius: 50%;
    line-height: 58px;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.modal-content{
    background-color: #3E4144;
}
.modal-header,.modal-footer{
    border:none
}

ngb-rating{
    span{
        color: #F5C518;
    }
    outline: none;
}


// regular style toast
@import '~ngx-toastr/toastr';

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
@import '~ngx-toastr/toastr-bs4-alert';

// if you'd like to use it without importing all of bootstrap it requires
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';


.toast-title,.toast-message{
    color:#000;
}